<%- include("../partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Hiker!</h1>
            <p>View our hand-picked hiking trails from all over the world</p>
            <div class="row">
                <div class="col-md-3">
                    <form action="/campgrounds/" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="Search hiking trail">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div><!-- /input-group -->
                    </form>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary" href="/campgrounds/new"><i class="fa fa-plus" aria-hidden="true"></i> Add New Hiking Trail</a>
                </div>
            </div>             
        </div>
    </header>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <!-- if the img has different heights, the layout will mess up -->
                    <img class="campground__image" src="<%= campground.image %>" width="400px" alt="hiking trail">   
                    <!-- dont forget <%= %> tag here -->
                    <div class="caption">
                        <h4><%= campground.name%></h4>
                    </div>
                    <p><a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a></p>
                </div>
               
                
            </div>
        <%}) %> 
    </div>
    
    
    
</div>
<%- include("../partials/footer") %>
